/* since popover is dynamic the component is not picking up the styles through styled components */

.ant-popover-title {
  font-size: 18px;
  margin: 0 1.5rem;
  padding: 16px 0;
  text-transform: none;
}

.ant-popover-inner-content {
  padding: 0;
}

